.wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.834);
  z-index: 9;
  
}
.loader {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}
.center {
  display: block;
  top: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}